<!--
 * @Author: your name
 * @Date: 2020-01-20 20:00:05
 * @LastEditTime : 2020-01-20 20:03:19
 * @LastEditors  : Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Learning-Notes\Express\code\blog\view\index.html
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
</head>

<body>
    Hello ,I'm index. <br />
    My author is {{ author }}
</body>

</html>